.navbar {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
    z-index: 100;
    display: flex; /* Enables Flexbox for the navbar */
    align-items: center; /* Centers items vertically in the navbar */
    gap: 10px; /* Adds some space between each button */
}

.nav-button {
    background-color: #0069d9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-button:hover {
    background-color: #0056b3;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    color: #005a87;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #0069d9;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

form input, form select, form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
}

